{% extends 'auth/base.html' %}
{% block content %}
   <div id="profile-wrapper">
   {% for message in messages %}
       <div class="alert alert-danger" role="alert">
       <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
       <span class="sr-only">Error:</span>
           {{ message }}
       </div>
   {% endfor %}
       <form action="." method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
   </div>
{% endblock %}
