{% extends 'auth/base.html' %}
{% block content %}
<div id="form-login-center">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <h6><a href="{% url 'registration' %}">Register</a> if you're not cool enough already</h6>
</div>
{% endblock %}
