{% extends 'auth/base.html' %}
{% block content %}
    <div id="profile-wrapper">
        <h1>{{ user.username }}<small> - <a href="{% url 'logout' %}">Say good bye peter panda</a></small></h1>
        <p>This is going to be your profile, not much yet... this is an interview... but hire me and you'll see.</p>
        {% if not authy_verified %}
            <form action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit">
            </form>
        {% else %}
            <h1>You've set up MFA correctly</h1>
        {% endif %}
    </div>
{% endblock %}
