{% extends 'auth/base.html' %}

{% block content %}
    <div id="form-register-center">
        <h1>Register</h1>
        <h4>Despite the lack of images, my site is awesome, I promise</h4>
        <form class="mtd-30" action="{% url 'registration' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        <h6><a href="{% url 'login' %}">Login</a> if you're cool enough already</h6>
    </div>
{% endblock %}
