#form-register-center {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#form-login-center {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.mt-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
#profile-wrapper {
    width: 500px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}
